body {
  background-image: url(https://images.pexels.com/photos/9100862/pexels-photo-9100862.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  font-family: Tahoma;
  font-size: 16px;
  color: #542C5C;
  padding: 10px auto;
  margin: 30px auto;
}

h1, p {
  margin: 0em auto;
  text-align: center;
  background-color: rgba(228,228,217,0.6);
  width: 75vw;
  padding: 15px;
}

h1{ 
  border-radius: 5px 5px 0 0;
}

p { 
  margin-bottom: 20px;
  padding-top: 0px;
  border-radius: 0 0 5px 5px;
}

form {
  background: linear-gradient(rgba(220,193,155,0.75),rgba(217,57,18,0.75));
  width: 75vw;
  max-width: 750px;
  min-width: 400px;
  margin: 0 auto;
  padding: 2em;
  border-radius: 5px;
}

fieldset {
  border-color: #6a3874;
  padding: 2rem ;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  border-radius: 5px;
}

::placeholder{
color: #e4e4d9;
}

#favourite {
  margin-bottom: 20px;
}

input, textarea {
  background-color: #315452;
  border: 1px solid #315452;
  color: #e4e4d9;
}

select {
  background-color: #6a3874;
  color: #e4e4d9;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 100%;
  margin: 1em auto;
  font-size: 1.1rem;
  background-color: #6a3874;
  border-radius: 5px;
}

